
maxHosts=6
maxAccounts=5
// Machines or hosts

host1	=	net01.utdallas.edu
host2	=	net02.utdallas.edu
host3	=	net03.utdallas.edu
host4	=	net04.utdallas.edu
host5	=	net05.utdallas.edu
host6	=	net06.utdallas.edu
host7 = eof;

net01.utdallas.edu	=	host1
net02.utdallas.edu=		host2
net03.utdallas.edu  =	host3
net04.utdallas.edu	=	host4
net05.utdallas.edu	=	host5
net06.utdallas.edu	=	host6
///



// servers per machine

noOfServersforHost1	=	5
noOfServersforHost2	=	5
noOfServersforHost3	=	5
noOfServersforHost4	=	5
noOfServersforHost5	=	5
noOfServersforHost6	=	2
noOfServersforHost7	=	2
noOfServersforHost8	=	2
noOfServersforHost9	=	2
noOfServersforHost10	=	2


// accounts per server
noOfAccountsforHost1Server1	=	1
noOfAccountsforHost1Server2	=	1
noOfAccountsforHost1Server3	=	1
noOfAccountsforHost1Server4	=	1
noOfAccountsforHost1Server5	=	1

noOfAccountsforHost2Server1	=	1
noOfAccountsforHost2Server2	=	1
noOfAccountsforHost2Server3	=	1
noOfAccountsforHost2Server4	=	1
noOfAccountsforHost2Server5	=	1

noOfAccountsforHost3Server1	=	1
noOfAccountsforHost3Server2	=	1
noOfAccountsforHost3Server3	=	1
noOfAccountsforHost3Server4	=	1
noOfAccountsforHost3Server5	=	1

noOfAccountsforHost4Server1	=	1
noOfAccountsforHost4Server2	=	1
noOfAccountsforHost4Server3	=	1
noOfAccountsforHost4Server4	=	1
noOfAccountsforHost4Server5	=	1


noOfAccountsforHost5Server1	=	1
noOfAccountsforHost5Server2	=	1
noOfAccountsforHost5Server3	=	1
noOfAccountsforHost5Server4	=	1
noOfAccountsforHost5Server5	=	1

noOfAccountsforHost6Server1	=	1
noOfAccountsforHost6Server2	=	1
noOfAccountsforHost6Server3	=	1
noOfAccountsforHost6Server4	=	1
noOfAccountsforHost6Server5	=	1+




//ports or server

port1	=       7141
port2		7142
port3	=	7143
port4	=	7144
port5	=	7145
port6	=	7146
port7	=	7147
port8	=	7148
port9	=	7249
port10	=	7250
port11	=	7251
port12	=	7152
port13	=	7153
port14	=	7154
port15	=	7155
port16	=	7156
port17	=	7157
port18	=	7188
port19	=	7199
port20	=	7200


/// Account details
host1accountNumber1	=	AB12CD
host1accountNumber2	=	BC23DE
host1accountNumber3	=	CD34EF
host1accountNumber4	=	DE45FG
host1accountNumber5	=	EF56GH
host2accountNumber1	=	FG67HI
host2accountNumber2	=	GH78IJ
host2accountNumber3	=	HI89JK
host2accountNumber4	=	IJ910KL
host2accountNumber5	=	JK1011LM
host3accountNumber1	=	KL1112MN
host3accountNumber2	=	LM1213NO
host3accountNumber3	=	MN1314OP
host3accountNumber4	=	NO1415PQ
host3accountNumber5	=	OP1516QR
host4accountNumber1	=	PQ1617RS
host4accountNumber2	=	QR1718ST
host4accountNumber3	=	RS1819TU
host4accountNumber4	=	ST1920UV
host4accountNumber5	=	TU2021VW
host5accountNumber1	=	UV2122WX
host5accountNumber2	=	VW2223XY
host5accountNumber3	=	WX2324YZ
host5accountNumber4	=	XY2425Za
host5accountNumber5	=	YZ2526ab
host6accountNumber1	=	Za2627bc
host6accountNumber2	=	ab2728cd
host6accountNumber3	=	bc2829de
host6accountNumber4	=	cd2930ef
host6accountNumber5	=	de3031fg
host7accountNumber1 = eof



// accountMoneyss
host1amount1	=	1000.00
host1amount2	=	1050.00
host1amount3	=	1100.00
host1amount4	=	1150.00
host1amount5	=	1200.00
host2amount1	=	1250.00
host2amount2	=	1300.00
host2amount3	=	1350.00
host2amount4	=	1400.00
host2amount5	=	1450.00
host3amount1	=	1500.00
host3amount2	=	1550.00
host3amount3	=	1600.00
host3amount4	=	1650.00
host3amount5	=	1700.00
host4amount1	=	1750.00
host4amount2	=	1800.00
host4amount3	=	1850.00
host4amount4	=	1900.00
host4amount5	=	1950.00
host5amount1	=	2000.00
host5amount2	=	2050.00
host5amount3	=	2100.00
host5amount4	=	2150.00
host5amount5	=	2200.00
host6amount1	=	2250.00
host6amount2	=	2300.00
host6amount3	=	2350.00
host6amount4	=	2400.00
host6amount5	=	2450.00
